doctype html
html(lang="en")
  head
    title=BFViewer
    //bootstrap meta data
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    // STYLES
    link(rel="stylesheet", href="/vendor/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
    block styles
  body
    block body
    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/vendor/jquery/jquery.js")
    script(src="/vendor/handlebars/handlebars.js")
    script(src="/vendor/ember/ember.js")
    script(src="/vendor/ember-data/ember-data.js")
    script(src="/vendor/bootstrap/bootstrap.js")
    script(src="/vendor/d3/d3.js")
    script(src="/vendor/ember-data-sails-adapter/ember-data-sails-adapter.js")
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/application.js")
    script(src="/js/router.js")
    script(src="/js/controllers/EventsController.js")
    script(src="/js/controllers/PricesController.js")
    script(src="/js/controllers/RunnersController.js")
    script(src="/js/models/Event.js")
    script(src="/js/models/EventType.js")
    script(src="/js/models/Market.js")
    script(src="/js/models/Price.js")
    script(src="/js/models/Runner.js")
    script(src="/js/views/PricesView.js")
    // SCRIPTS END
    // TEMPLATES
    script(type="text/javascript", src="/jst.js")
    // TEMPLATES END
