<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="searchAddon">Name</span>
                    {{input class="form-control" value=eventTeam type="text" aria-describedby="searchAddon"}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Events for {{eventTeam}}</div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>EventId</td>
                                <td>EventName</td>
                                <td>EventTimeZone</td>
                                <td>Country</td>
                            </tr>
                          {{#each event in model}}
                              <tr>
                                  <td>{{#link-to 'markets' event.EventId}}{{event.EventId}}{{/link-to}}</td>
                                  <td>{{event.Name}}</td>
                                  <td>{{event.Timezone}}</td>
                                  <td>{{event.CountryCode}}</td>
                              </tr>
                          {{/each}}
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

