<div class="jumbotron">
    <div class="container">
        <h3>Choose an event type to start search...</h3>
        <div class="col-md-4">
          <div class="list-group">
            {{#each eventType in model}}
              {{#link-to 'events' eventType.EventTypeId class="list-group-item" activeClass="active"}}
                <h4 class="list-group-item-heading">{{eventType.Name}}</h4>
              {{/link-to}}
            {{/each}}
          </div>
        </div>
    </div>
</div>

