<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                      <ul class="list-group">
                          {{#each market in model}}
                            {{#link-to 'runners' market.MarketId class="list-group-item"}}{{market.MarketName}}{{/link-to}}
                          {{/each}}
                      </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
