<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                      <svg id="chart" width="1000" height="500"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
