<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="list-group">
                          {{#each runner in model}}
                            {{#link-to 'prices' runner.SelectionId (query-params m=mId) class="list-group-item"}}{{runner.RunnerName}}{{/link-to}}
                          {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
